@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@layer base {
	:root {
		--font-family: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
		--primary: #5f8fa5;
		--secondary: rgba(200, 188, 167, 0.6);
		--background: rgba(116, 159, 177, 0.381);
		--overlay: rgba(0, 0, 0, 0.4);
		--radius: 6px;
		--radius-mobile: 10px;
		--nav-border-img-src: url('/img/svg/active_nav_border.svg');
		--nav-border-img-slice: 1;
		--nav-border-img-outset: 0;
		--nav-border-img-repeat: stretch;

		font-family: var(--font-family);
	}

	body {
		background-color: var(--background);
		width: 100vw;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
}
