---
export const prerender = true;
import Nav from '../components/Nav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap' rel='stylesheet' />
		<link href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' rel='stylesheet' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--font-family: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
		--primary: 95, 143, 165;
		--secondary: 200, 188, 167, 0.6;
		--background: 116, 159, 177, 0.381;
		--overlay: 0, 0, 0, 0.4;
		--radius: 6px;
		--radius-mobile: 10px;
		--nav-border-img-src: url('/img/svg/active_nav_border.svg');
		--nav-border-img-slice: 1;
		--nav-border-img-outset: 0;
		--nav-border-img-repeat: stretch;
		--heading-border-img-src-horizontal: linear-gradient(to right, white, #abccd8, #5f8fa5, #abccd8, white);
		--heading-border-img-src-vertical: linear-gradient(white, #abccd8, #5f8fa5, #abccd8, white);
		--heading-border-img-outset: 0;
		--heading-border-img-repeat: stretch;
		--heading-border-img-slice: 1;
		--heading-border-style: solid;
		--heading-border-Color: transparent;
		--heading-border-width-left: 0px 0px 0px 3px;
		--heading-border-width-bottom: 0px 0px 3px 0px;
		--heading-border-width: 3px;

		--card-border-width: 1px;
		--card-border-color: 0, 0, 0, 0.175;
		--card-bg-color: 255, 255, 255;
		--card-border-style: solid;
	}
	html {
		font-family: var(--font-family);
	}
	body {
		background-color: rgba(var(--background));
		width: 100vw;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
